@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --bottom-line: #ddd;
    --git: #333;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*          Form             */
.form-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid  var(--bottom-line);
    padding: 1% 0;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

.input-btn{
    width: 20%;
    cursor: pointer;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    background-color: var(--git);
    color: white;
    font-size: medium;
}

input{
    width: 20%;
    font-size: medium;
    padding: 1% 2%;
    border: none;
    border-bottom: 1px solid var(--bottom-line);
    border-radius: 5px;
    background-color: #f1f1f1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(151, 149, 149);
    opacity: 1;
}

/*          Paginacao             */

#paginacao{
    border-top: 1px solid  var(--bottom-line);
    margin-top: 2%;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page-btn{
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--git);
    color: white;
    font-size: medium;
}
#quantidade{
    margin: 0 30px;
}

/*        Cards Template          */
#card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
    border-radius: 5px;
    border-bottom: 2px solid  var(--bottom-line);
    padding: 2% 2% 2% 4%;
    margin:2% 2% 0%; /*cima, dir e esq, baixo*/
}

#flex-col-um{
    width: 80%;
}

#flex-col-dois{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#linguagens{
    width: 45%;
    padding-left: 0.5%;
    background-color: #fafafa;
    border-radius: 10px;
    border-bottom: 1px solid  var(--bottom-line);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

#show-languages{
    cursor: pointer;
    justify-content: center;
    padding: 0 2%;
    margin-right: 0;
    background-color: var(--git);
    color: white;
    border: none;
}

#stars{
    background-color: #fafafa;
    padding: 10px;
    width: auto;
    border-radius: 8px;
    border-bottom: 1px solid  var(--bottom-line);
}

#name{
    color: black;
    font-size:x-large;
}

#description{
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 64px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}