@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*          Form             */
.form-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 2% 0;
}
.form-group{
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding:0 30%;
}

.input-btn{
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-size: medium;
}

input{
    font-size: medium;
    padding: 2%;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f1f1f1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(151, 149, 149);
    opacity: 1;
}

/*          Paginacao             */

#paginacao{

}


/*        Cards Template          */
#card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
    border-radius: 10px;
    border-bottom: 2px solid #ddd;
    padding: 2% 2% 2% 4%;
    margin:2% 2% 0%; /*cima, dir e esq, baixo*/
}
#flex-col-um{
    width: 80%;
}

#flex-col-dois{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#linguagens{
    width: 45%;
    padding-left: 0.5%;
    background-color: #fafafa;
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

#show-languages{
    justify-content: center;
    padding: 0 2%;
    margin-right: 0;
    background-color: #333;
    color: white;
    border: none;
}

#stars{
    background-color: #fafafa;
    padding: 10px;
    width: auto;
    border-radius: 8px;
    border-bottom: 1px solid #ddd;
}